.pageWrapper {
    padding-bottom: 50px;
}

.header {
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
}

.subHeader {
    text-align: center;
    font-size: 24px;
}

.formWrapper {
    width: 500px;
    padding: 20px;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
}

.inputLabel {
    margin-bottom: 5px;
}

.textArea {
    resize: vertical;
    width: 460px;
}

.message {
    width: 500px;
    padding: 20px;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;
}

.signature {
    text-align: left;
}

.timestamp {
    float: right;
}

@media (max-width: 768px) {
    .formWrapper {
        width: 360px;
    }

    .textArea {
        width: 320px;
    }

    .message {
        width: 360px;
    }

    .signature::after {
        content:"\a";
        white-space: pre;
    }

    .timestamp {
        float: left;
    }
}